@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: calc(60% + 0.6vmin);
}

body{
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Raleway;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.3rem;
}
